In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [8]:
df = pd.read_csv(r"C:\Users\tusha\churn-pipeline\data\Telco-Customer-Churn.csv")

In [10]:
df.columns = [c.strip().lower().replace(' ', '_') for c in df.columns]
df['totalcharges'] = pd.to_numeric(df['totalcharges'], errors='coerce')
df['totalcharges'].fillna(df['totalcharges'].median(), inplace=True)

C:\Users\tusha\AppData\Local\Temp\ipykernel_5128\510941813.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['totalcharges'].fillna(df['totalcharges'].median(), inplace=True)

In [11]:
df.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
df['churn'] = df['churn'].map({'Yes': 1, 'No': 0})

In [15]:
engine = create_engine("mysql+pymysql://root:Tushan@25@localhost/churn_project")

In [16]:
engine = create_engine("mysql+pymysql://root:Tushan%4025@localhost/churn_project")

In [18]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Tushan%4025@localhost/churn_project")

with engine.connect() as conn:
    print("CONNECTED!")

CONNECTED!

In [19]:
df.to_sql('customer_churn', con=engine, if_exists='replace', index=False)
print("Data loaded!")

Data loaded!